<h2>Agenda de Contatos - Adicionar </h2>

<form method="post">

    Nome: <Br>
    <input type="text" name="nome">
    <br> <br>

    Telefone <br>
    <input type="text" name="telefone">
    <Br> <Br>

    <input type="submit" value="Cadastrar">

</form>