<h2>Agenda de Contatos - Editando </h2>

<form method="post">

    Nome: <Br>
    <input type="text" name="nome" value="<?php echo $info['nome']; ?>">
    <br> <br>

    Telefone <br>
    <input type="text" name="telefone" value="<?php echo $info['telefone']; ?>">
    <Br> <Br>

    <input type="submit" value="Editar">

</form>