

<h1>Agenda de Contatos</h1>

<a href="./add">Adicionar Contato</a>

<ul>
    
    <?php foreach ($lista as $contato): ?>
        <li>
            <p>Nome: <?php echo $contato['nome']; ?> 
            - Telefone: <?php echo $contato['telefone']; ?>
            <a href="./edit/<?php echo $contato['id'] ?>">Editar</a> 
             x 
            <a href="./del/<?php echo $contato['id'] ?>">Excluir</a>   
            </p>
        </li>
    <?php endforeach; ?>    
</ul>